doctype html
html(lang='zh-hant')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		meta(name='format-detection' content='telephone=no')
		link(rel='canonical' href=url.href)
		meta(property='og:url' content=url.href)
		link(rel='icon' type='image/png' href=`${url.origin}/assets/images/favicon.png`)
		link(as='script' href='https://cdn.ampproject.org/v0.js' rel='preload')
		link(as='script' href='https://cdn.ampproject.org/v0/amp-ad-0.1.js' rel='preload')
		script(async src='https://cdn.ampproject.org/v0.js')
		if production
			script(async custom-element='amp-analytics' src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
		block head
		style(amp-boilerplate).
			body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
		noscript
			style(amp-boilerplate).
				body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
		style(amp-custom)
			include css/reset.css 
			include css/common.css
			block css
	body
		if production
			amp-analytics(config='https://www.googletagmanager.com/amp.json?id=GTM-5LVTNND&gtm.url=SOURCE_URL' data-credentials='include')
		header
			.container
				.brand
					a(href='/') ldkrsi's Blog
				nav
					ul
						li 
							a(href='/articles/about-me.html') 關於我
						li 
							a(href='/tags/') 分類
						li
							a(href='https://github.com/ldkrsi' rel='noreferrer noopener') My GitHub
		main
			block main
		footer
			.container.copyright ldkrsi's Blog © 2021