div,
p,
header,
footer,
section,
body,
article,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
table,
thead,
tbody,
tr,
td,
th,
a,
small,
nav,
pre,
code,
amp-script {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
}

a {
	text-decoration: none;
	color: #0f09ff;
	cursor: pointer;

	&:hover,
	&:active {
		text-decoration: underline;
	}
}

main {
	min-height: 80vh;
}